einops
flax
imageio
jax==0.4.20
jaxlib==0.4.20+cuda12.cudnn89
moviepy
mujoco>=3.0.1
mujoco-mjx>=3.0.1
numpy
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-cupti-cu12==12.3.101
nvidia-cuda-nvcc-cu12==12.3.103
nvidia-cuda-nvrtc-cu12==12.3.103
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==8.9.6.50
nvidia-cufft-cu12==11.0.12.1
nvidia-cusolver-cu12==11.5.4.101
nvidia-cusparse-cu12==12.2.0.103
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
opt-einsum
optax==0.1.7
orbax==0.1.9
orbax-checkpoint==0.4.3
Pillow
wandb>=0.16.0
