einops
flax
imageio
jax>=0.4.1
jaxlib>=0.4.1+cuda12.cudnn89
moviepy
mujoco>=3.0.1
mujoco-mjx>=3.0.1
numpy
opt-einsum
optax
orbax
orbax-checkpoint
Pillow
wandb>=0.16.0
jax_dataclasses
overrides
hydra-core

mjx_render @ git+https://github.com/mishmish66/mjx_render.git
